$items-color-hover:#626c80;
$items-color-highlight:#1d2027;
$items-color:#454c5a;
$item-background-translucid: #00000090;
$color-text-primary: #ebebeb;
$color-background-app: #282c34;
$color-background-app-translucid: #282c3480;
$color-background-darker: #111317;

$red-state:#cf1141;
$red-state-highlight:#f5144d;
