@import "../Styles/colors.scss";

.album-image {
    margin: 10 10 10 0;
}

.album-item {
    transition: 0.3s;
    background-color: $item-background-translucid  !important;
    // background-color: $items-color !important;
    border-radius: 5% !important;
    width:170px;
    height: 240px;
    margin: auto;
    padding: 10px;

    .album-image-container {
        width: 150px;
        height: 150px;

        img {
            max-width: 150px;
            max-height: 150px;
            width: auto;
            height: auto;
            display: block;
        }
    }

    &:hover {
        background-color: $items-color-hover  !important;
    }

    .no-overflow {
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 0.2rem;
    }
}