@import "../Styles/colors.scss";

.album-image {
    margin: 10 10 10 0;
}

.album-item-focused {
    background-color: $items-color-hover  !important;
    transform: scale(1.1);
}

.album-item {
    transition: 0.3s;
    background-color: $item-background-translucid ;
    // background-color: $items-color !important;
    border-radius: 5% !important;
    // max-width:170px;
    max-width: 170px;
    width: calc(100% - 20px);
    // min-height: calc(190px + 2.5em);
    height: calc(100% - 20px);
    margin: 10px;
    padding: 10px !important;

    .album-image-container {
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;

            width: auto;
            height: auto;
            display: block;
            border-radius: 5%;
        }
    }

    &:hover {
        background-color: $items-color-hover  !important;
    }

    .no-overflow {
        width: 150px;
        height: 3.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}