@import "../Styles/colors.scss";

.artist-image {
    margin: 10 10 10 0;
}

.artist-item {
    transition: 0.3s;
    background-color: $items-color !important;
    width: 170px;
    img {
        max-width:150px;
        max-height:150px;
        width:auto;
        height:auto;
        display:block;
    }
    &:hover{
        background-color: $items-color-hover !important;
    }
    .no-overflow{
        height: 3.5rem;
        overflow:hidden;
    }
}