.artist-container {
    height: 80vh;
    overflow: hidden;
    align-items: start;
    position: relative;
    
    .artist-name-container {
        z-index: 1000;
        width: 100%;
        font-size: 3rem;
        padding: 10px;
        text-align: left;
        background: rgb(2, 0, 36,0.4);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7)100%);
    }
    
    .artist-img {
        width: auto;
        height: 100%;
        left: -25%;
        position: absolute;
        text-align: center;
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(40, 44, 52, 1));
    }
}