.artist-list-container{
    height: 100%;
    overflow: hidden;
    align-items: start;
    position: relative;
    .grid-list-container {
        width:100%;
        overflow: auto;
    }
}
.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 15px;
    // @media (max-width: 576px) {
    //     grid-gap: 0;
    // }
    .list-group-item {
        margin: 0 auto;
    }
    
}