.current-track-header{
    height: 10vh;
    overflow: hidden;
    margin: 0 0 0.5rem 0;
    .current-track-img {
        max-height: 10vh;
        height: auto; 
        width: auto;
        margin: 0 0.5rem 0 0;
    }
}
.fade-right{

    mask-image: linear-gradient(270deg, rgb(0,0,0,0) 0%,rgb(0,0,0,0) 25%,rgb(40, 44, 52) 90%,rgb(40, 44, 52) 100%);
}