@import "../Styles/colors.scss";

.current-track-img-tv {
    max-height: 30vh;
    height: 500px;
    width: auto;
    margin: 0 0.5rem 0 0;
    border-radius: 5%;
    transition: 2s;
}

.current-track-stopped {
    box-shadow:
        0 0 5px 2px #fff,
        0 0 7px 5px #0ff;
    animation: dying-pulse 2s normal forwards ease-in-out;
}

.current-track-playing {
    transition: 2s;

    box-shadow:
        0 0 5px 2px #fff,
        0 0 7px 5px #0ff;
    animation: pulse 2s infinite ease-in-out;
}

.current-track-header {
    overflow: hidden;
    margin: 0 0 0.5rem 0;


}

.btn-tv-selected {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(40, 44, 52, 1)) !important;
    background-color: $items-color-hover !important;
    transition: 0.5s;
}

.shadow-down {
    width: 100vw;
    height: 1px;
    position: absolute;
    left: 0;
    top: calc(100vh - 1px);
    box-shadow:
        0 0 15px 10px #fff,
        0 0 20px 15px #0ff,
}

@keyframes pulse {
    0% {
        box-shadow:
            0 0 5px 2px #fff,
            0 0 7px 5px #0ff,
    }

    25% {
        box-shadow:
            0 0 5px 2px #0ff,
            0 0 7px 5px #7df,
    }

    50% {
        box-shadow:
            0 0 5px 2px #7df,
            0 0 7px 5px #478499,
    }

    75% {
        box-shadow:
            0 0 5px 2px #478499,
            0 0 7px 5px #fff,
    }
}

@keyframes dying-pulse{
    from {
        box-shadow:
            0 0 5px 2px #fff,
            0 0 7px 5px #0ff,
    }
    to {
        box-shadow: none;
    }
}